<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{index.title})}"></head>
<body class="template--static-page">
<div class="page-wrapper">
  <th:block th:replace="~{fragments/toolbar :: toolbar}"/>
  <main id="content" role="main" class="slab slab--white spacing-below-0">
    <section class="slab">
      <div class="grid">
        <div class="width-one-half">
          <th:block th:replace="~{fragments/icons :: cursiveUbi}">
          </th:block>
          <h1 class="spacing-below-35 spacing-above-5" th:text="#{index.title}"></h1>
          <p th:text="#{index.apply-for-benefits-in-10}"></p>
          <a th:text="#{index.already-applied}" href="#docUpload"></a>
          <div class="spacing-above-35">
            <a
              th:href="|/flow/mdpilot/howThisWorks?lang=${#locale.getLanguage()}|"
              th:text="#{index.apply-now}"
              class="button--primary button"></a>
          </div>
          <div class="spacing-below-35">
            <a
              th:with="otherLang=${#locale.getLanguage().equals('es') ? 'en' : 'es'}"
              th:href="|/flow/mdpilot/howThisWorks?lang=${otherLang}|"
              th:text="#{index.aplica-ahora}"
              th:lang="${otherLang}"
              class="button--small button"></a>
          </div>
          <!-- Adding this for MD -->
<!--          <div class="spacing-below-35">-->

<!--            <fieldset>-->
<!--              <legend>Please select one of the following</legend>-->
<!--              <div>-->
<!--              <input type="checkbox" name="type" id="track" value="track"  /> <label for="track"> {index.benefit-snap}</label><br />-->
<!--              <input type="checkbox" name="type2" id="event" value="event"  /><label for="event">#{index.benefit-tanf}</label><br />-->
<!--              <input type="checkbox" name="type3" id="message" value="message" /><label for="message">Message us</label><br />-->
<!--              </div>-->
<!--              <div>-->
<!--                <button type="submit">Submit</button>-->
<!--              </div>-->
<!--            </fieldset>-->

<!--          </div>-->


<!--  <div class="spacing-below-35">-->
<!--    <th:block th:replace="~{fragments/inputs/checkboxFieldset ::-->
<!--          checkboxFieldset(inputName='benefitElection',-->
<!--          label=#{index.benefit-election},-->
<!--          content=~{::selectBenefits})}">-->
<!--      <th:block th:ref="selectBenefits">-->

<!--        <th:block-->
<!--            th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='benefitElection',value='SNAP', label=#{index.benefit-snap})}"/>-->
<!--        <th:block-->
<!--            th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='benefitElection',value='TANF', label=#{index.benefit-tanf})}"/>-->
<!--      </th:block>-->
<!--    </th:block>-->
<!--    <a-->
<!--      th:href="|/flow/mdpilot/howThisWorks?lang=${#locale.getLanguage()}|"-->
<!--      th:text="#{index.apply-now}"-->
<!--      class="button&#45;&#45;primary button"></a>-->
<!--  </div>-->
  <!--
          <div class="spacing-below-35">
            <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
                  checkboxFieldset(inputName='benefitElection',
                  label=#{index.benefit-election},
                  content=~{::selectBenefits})}">
              <th:block th:ref="selectBenefits">

                <th:block
                    th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='benefitElection',value='SNAP', label=#{index.benefit-snap})}"/>
                <th:block
                    th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='benefitElection',value='TANF', label=#{index.benefit-tanf})}"/>
              </th:block>
            </th:block>
            <a
              th:href="|/flow/mdpilot/howThisWorks?lang=${#locale.getLanguage()}|"
              th:text="#{index.apply-now}"
              class="button--primary button"></a>
          </div>
        -->

        </div>
        <div class="width-one-half">
          <img src="/assets/images/ubi-landing-splash.png" alt="" class="nudge--large">
        </div>
      </div>
    </section>
    <section class="slab slab--off-white">
      <div class="grid">
        <h2 th:text="#{index.apply-for-cash-assistance}"></h2>
        <h3 th:text="#{index.universal-basic-income}"></h3>
        <p th:text="#{index.ubi-provides-750}"></p>
      </div>
    </section>
    <section class="slab" id="docUpload">
      <div class="grid text--centered spacing-below-35">
        <th:block th:replace="~{fragments/icons :: uploadDocuments}"/>
        <h2 th:text="#{index.already-applied-additional}"></h2>
        <a href="/flow/docUpload/documentRecommendations" th:text="#{index.upload-documents}" class="button"></a>
      </div>
    </section>
  </main>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
